body, #root {
    background-color: antiquewhite;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 20px;
    padding-left: 30%;
}

label{
    font-size: 20px;
    font-weight: 800;
    color: green;
}

input{
    padding: 10px 12px;
    width: 600px;
}

button{
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: 500;
    width: 630px;
    padding: 10px 20px;
    margin-top: 10px;
}